# UFCFVQ-15-M Programming for Data Science (Autumn 2023)

## Student Id:

# Programming Task 2

### Requirement FR6 - Read CSV data from two files and merge it into a single Data Frame

In [1]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
from scipy.stats import f_oneway
plt.style.use('ggplot')

In [2]:
# Read the CSV files into DataFrames
df1 = pd.read_csv('task2a.csv')
df2 = pd.read_csv('task2b.csv')

# Ensure that the indices match up
assert df1.shape[0] == df2.shape[0]
# Ensure that duplicate fields matchup
assert df1[['Entity', 'Year']].equals(df2[['Entity', 'Year']])

# # Concatenate the DataFrames
df = pd.concat([df1, df2], axis=1)

df3 = df.T.drop_duplicates().T

df3

,Entity,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Depression (%),Drug use disorders (%),Alcohol use disorders (%)
0,Afghanistan,1990,0.16056,0.697779,0.101855,4.82883,4.071831,1.677082,0.672404
1,Afghanistan,1991,0.160312,0.697961,0.099313,4.82974,4.079531,1.684746,0.671768
2,Afghanistan,1992,0.160135,0.698107,0.096692,4.831108,4.088358,1.694334,0.670644
3,Afghanistan,1993,0.160037,0.698257,0.094336,4.830864,4.09619,1.70532,0.669738
4,Afghanistan,1994,0.160022,0.698469,0.092439,4.829423,4.099582,1.716069,0.66926
...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,0.15567,0.607993,0.117248,3.090168,3.128192,0.76628,1.515641
6464,Zimbabwe,2014,0.155993,0.60861,0.118073,3.093964,3.14029,0.768914,1.51547
6465,Zimbabwe,2015,0.156465,0.609363,0.11947,3.098687,3.15571,0.771802,1.514751
6466,Zimbabwe,2016,0.157111,0.610234,0.121456,3.104294,3.174134,0.772275,1.513269
6467,Zimbabwe,2017,0.157963,0.611242,0.124443,3.110926,3.192789,0.772648,1.510943

### Requirement FR7 - Explore the dataset to identify an "interesting" pattern or trend

In [ ]:
# replace with your code

### Requirement FR8 - Detect and remove any outliers in the data used for your "interesting" pattern or trend

In [ ]:
# replace with your code

### Requirement FR9 - Define a hypothesis to test your “interesting” pattern or trend

In [ ]:
# replace with your code

### Requirement FR10 - Test your hypothesis with statistical significance level of 0.05

In [ ]:
# replace with your code